

.wrap {
    display: flex;
}

.body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.box {box-shadow: 0pc 10px 10px 20px;}

.background {

    background-color:grey;
}
.centre {
    font-size: 10px;
    align-content:center}

.flex {
    display:flex;
    background-color: grey;
}

.header {

    font-size: 38px; 
    text-align: center;
    align-items: center;
    color:black;
text-shadow: 4px 0px 9px  white;}

.sheader {

    color: black;

text-align: center;  
  font-size: 18px;

}
.noflex {
    display: inline;
}

.shader {

    background-color: white;
}

.underline {
    text-decoration: underline;
}
    