.body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align:left;
    font-weight: bold;
    margin: 30px;
}

.phat {
    margin: auto;
}

.box {
    display:flex;
    box-shadow: 0pc 0px 10px 5px darkgray;
    background: content-box white;

}

.fbox {
    display:block;
    box-shadow: 0pc 0px 10px 5px darkgray;
    background: content-box white;}

    .min{
        width:60%;
   
    }
    

.sbox {
    display:flex;
    box-shadow: 0pc 0px 10px 5px darkgray;
    background: content-box white;
    transform:scale(0.83);

}
.background {

    background-image: url(../../assets/img/assets/MapS.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    background-size: cover;
}

.centre {
align-items: center;
align-self: center;
text-align: center;  

}

.wrap {
    display:block;
    font-family:'Poppins',sans-serif;
position:relative;
text-align: center;

}
.Dark {
    background-color: darkslategray !important;
    height: 550px;
}


.header {

    font-size: 38px; 
    text-align: center;
    align-items: center;
}

.sheader {

text-indent: 70px;
    font-size: 28px;
}

.wrapp {
box-shadow: darkgoldenrod;

}
.blue {
    color:darkgoldenrod;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 2px 10px darkgray;
}




.border {

padding:1px;
border: solid 2px gold;
max-width: 340px;
min-width: 340px;
}
.flex {
    display:flex;
}

.padding {

    padding:30px;
}
.button {position: absolute;
bottom: 20px;
background-color: green;
left: 40%;
}