.body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    align-items: center;
}

.box {box-shadow: 0pc 10px 10px 20px;}

.background {

    background-color:black;
    color: white;
    padding:150px;

}
.centre {
    font-size: 10px;
    align-content:center}

.flex {
    display:flex;
    background-color:black;
}

.header {

    font-size: 38px; 
    text-align: center;
    align-items: center;
}

.sheader {

text-indent: 70px;
    font-size: 28px;
}

.wrapp {
box-shadow: darkgoldenrod;
}