.body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align:left;
    font-weight: bold;
}

.phat {
    margin: auto;
}

.box {
    display:flex;
    box-shadow: 0pc 0px 10px 5px;
    background: content-box white;}
    

.background {

    background-image: url(../../assets/img/assets/MapS.jpg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    display:block;
}

.centre {
align-items: center;
align-self: center;
text-align: center;  

}

.wrap {
    display:block;
    font-family:'Poppins',sans-serif;
position:relative;
text-align: center;

}

.header {

    font-size: 38px; 
    text-align: center;
    align-items: center;
}

.sheader {

text-indent: 70px;
    font-size: 28px;
}

.wrapp {
box-shadow: darkgoldenrod;

}
.blue {
    color:#0eb2e7;
    text-align: center;
}

.border {

padding:2px;
border: solid 2px gold;
max-width: 400px;
min-width: 400px;
}
.flex {
    display:flex;
}
